<%= form_for @artist do |f| %>
  <p> Name <%= f.text_field :name %> </p>
  <p> Image URL <%=f.text_field :img_url %> </p>
  <p> Nationality <%=f.text_field :nationality %> </p>
  <p> Birth Year <%=f.text_field :birth_year %> </p>
  <p> Description <%=f.text_field :description %> </p>
  <%= f.submit %>
<% end %>
