<h1> <%=@artist.name%> </h1>
  <img src="<%=@artist.img_url%>">
  <h5> <%= @artist.birth_year %> </h5>
  <h5> <%= @artist.nationality %> </h5>
  <p> <%= @artist.description %> </p>
  <h3> Paintings of <%= @artist.name%> </h3>
  <% @artist.paintings.each do |painting| %>
    <%= painting.title %>
    <img src="<%=painting.img_url%>">
    <%= painting.year_made %>
  <% end%>
